<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148717587681-mu13ihvddc79uq9db2sg7iee4mn33ucf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148717587681-mu13ihvddc79uq9db2sg7iee4mn33ucf</string>
	<key>API_KEY</key>
	<string>AIzaSyC2-VxA_fshXsCLA1ywZ5tqT4A11dJgbyI</string>
	<key>GCM_SENDER_ID</key>
	<string>148717587681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nathanhedgeman.Ohmicity-Backend</string>
	<key>PROJECT_ID</key>
	<string>ohmicity-14717</string>
	<key>STORAGE_BUCKET</key>
	<string>ohmicity-14717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148717587681:ios:1d62216856d7a469a43ba0</string>
</dict>
</plist>